<html>
<head>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1-rc2/jquery.js"></script>
  <title>
     Ferries
  </title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/flatly/bootstrap.min.css">
</head>
<body>

  <div class="navbar navbar-inverse">
    <ul class="nav navbar-nav"><li>
	<a class="navbar-center" href="/">
	  <img alt="Brand" style="height:30px;width:50px" src="../static/F.jpg">
	</a>
      </li><li>
	<div class="col-lg-6">
	  <div class="input-group" style="padding-top:10px">
	    <div class="input-group-btn"> <form>
	      <div class="input-group-btn select" id="select1">
		<select class="form-control" data-style="btn-info" style="height:40px;width:auto" data-style="btn-info" name="select" id="first">
		  <option value="Period"> Period </option>
		  <option value="Store"> Store </option>
		  <option value="User"> User </option>
		</select>
	      </div>
	    </div>
	    <input type="text" class="form-control" style="height:auto;width:auto" name="search" placeholder="Search">
	    <span class="input-group-btn">
	      <input type="submit" class="btn btn-primary" name="searchsubmit" value="Search">Search </form>
	    </span>
	  </div>
	  
	</div>
      </li>
    </ul>
    {% if loggedin %}
  <script src="static/script2.js"></script>
    <ul class="nav navbar-right"><li>
      <li class="navbar-right"><button type="button" class="btn btn-default navbar-btn" id="out">Log Out</button></li>
      <li class="navbar-right"><button type="button" class="btn btn-default navbar-btn" id="userb">{{username2}}</button></li> 
 <li class="navbar-right"><button type="button" class="btn btn-default navbar-btn" id="placeorder"> Place Order</button></li> 
 <li class="navbar-right"><a href="/results"> <button type="button" class="btn btn-primary navbar-btn" id="yelp"> Search Up Stores</button> </a> </li>  </ul>
<div id="orderid" style="visibility:hidden">{{orderid}}</div>
    {% else %}
  <script src="static/script.js"></script>

    <ul class="nav navbar-right"><li>
      <li class="navbar-right"><button type="button" class="btn btn-default navbar-btn" id="up">Sign up</button></li>
      <li class="navbar-right"><button type="button" class="btn btn-default navbar-btn" id="in">Sign in</button></li>

  <li class="navbar-right"><a href="/results"><button type="button" class="btn btn-primary navbar-btn" id="yelp"> Search up Stores</button> </a></li> </ul>
    {% endif %}

    
  </div>


  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="flashed_messages_list">
    {% for message in messages %}
   <div class="alert alert-info" role="alert"> <li class="flashed_message error">{{ message }}</li></div>
    {% endfor %}  </ul>
  {% endif %}
  {% endwith %}
  <center>
    <h1>
      <header>
	  <h1><i><b> Ferries </b></i></h1>
      </header>

<body>
<br>
<div class="row">
  <a href="/loadorders/0"> 
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/static/F.jpg" alt="..." class="img-thumbnail">
      <div class="caption">
        <h3>Order Sample </h3>
      </div>
    </div></a>
  </div>
  {% for o in range(orders|length) %}
  <a href="/loadorders/{{o}}"> <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
	<img src="/static/F.jpg" alt="..." class="img-thumbnail">
	<div class="caption">
          <h3>Order ID# {{o}}</h3>
	</div>
      </div>
</div>
  </a>
  {% endfor %}

  </div>
</body>
