{% extends "loggedinbase.html" %}
{% block title %}
Order ID # {{data ['orderid']}}
{% endblock title %}
{% block header %}
Order # {{data ['orderid']}}
{% endblock header %}
{% block body %}

<h4><b> User</b>: {{data ['username']}}<br>
<b>Store</b>: {{data ['store']}}<br>
<b>Food</b>: {{data ['food']}}<br>
<b>Cost</b>: {{data ['cost']}}<br>
<b>Offer</b>: {{data ['offer']}}<br>
<b>Preferred Period</b>: {{data ['preferredperiod']}} <br>
<b>Alternate Period</b>: {{data ['otherperiods']}} <br>
<b>Instructions</b>: {{data ['instructions']}}<br> </h4>

<form>

{% if takenby %}
<div>
<type="submit" class="btn btn-default" style="background-color:blue" name="T" value="t" id="takeorder">
<b>Order Taken By</b>: {{data['takenby']}}
</div>
{% else %}
<div>
<input type="submit" class="btn btn-default" style="background-color:blue" name="Take Order" value="Take Order" id="takeorder">
</div>
{% endif %}<br>

{% if fulfillable %}
<div>
<input type="submit" class="btn btn-default" style="background-color:lightgreen" name="Order Has Fulfilled" value="Order Has Been Fulfilled"> </div>
{% endif %}<br>

{% if fulfilled %}<div>
<type="submit" class="btn btn-default" style="background-color:lightgreen" name="O" value="f">
<b> Order has been Fulfilled </b> </div>
{% endif %}


<type="submit" class="btn btn-default" style="background-color:red" name="T2" value="t2" id="takeorder">
<br> <b>Comments</b>: <br>
 <textarea rows="5" type="text" class="form-control" name="comment" placeholder="Write a comment"></textarea>
<br>
<input type="submit" class="btn btn-success" name="submitc" value="Submit">
<br>

</form>
{% for i in range(data ['comments']|length) %}
<br>
{{data['comments'][i][0]}} says: {{data['comments'][i][1]}}
<br>
{% endfor %}
{% endblock body %}

