{% extends "loggedinbase.html" %}
{% block title %}
Order # {{data ['orderid']}}
{% endblock title %}
{% block header %}
Order # {{data ['orderid']}}
{% endblock header %}
{% block body %}

User: {{data ['username']}}<br>
Store: {{data ['store']}}<br>
Food: {{data ['food']}}<br>
Cost: {{data ['cost']}}<br>
Offer: {{data ['offer']}}<br>
Preferred Period: {{data ['preferredperiod']}} <br>
Alternate Period: {{data ['otherperiods']}} <br>
Instructions: {{data ['instructions']}}<br>

<form>

{% if takenby %}
Order Taken By: {{data['takenby']}}
{% else %}

<input="submit" class="btn btn-default" style="background-color:lightgreen" name="Take Order" value="taken" id="takeorder">
{% endif %}

{% if fulfillable %}
<input="submit" class="btn btn-default" style="background-color:lightgreen" name="Order Has Fulfilled" value="fill">
{% endif %}

{% if fulfilled %}
Order has been Fulfilled
{% endif %}



<br> Comments: <br>
 <textarea rows="5" type="text" class="form-control" name="comment" placeholder="Write a comment"></textarea>
<br>
<input type="submit" class="btn btn-success" name="submitc" value="Submit">
<br>

</form>
{% for i in range(data ['comments']|length) %}
<br>
{{data['comments'][i][0]}} says: {{data['comments'][i][1]}}
<br>
{% endfor %}
{% endblock body %}

